@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

html, body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: "Noto Sans", sans-serif;
}

.app-container{
    max-width: 450px;
    margin: auto;
    padding: 10px;
}
.logo {
    margin-left: 10px;
}
.app-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #361b00;
}

.colmado-number {
    font-family: 'Creepster', cursive;
    font-size: 70px;
}

.field-inputs {
   margin-bottom: 30px;
}

.field-inputs * {
    text-align: center;
    width: 100%;
    margin: 5px auto;
    display: block;
    font-size: 18px;
    padding: 5px;
    border-radius: 2px;
    border: solid 1px #ea580c;
    box-sizing: border-box;;
}

.table-container {
    margin-top: 10px;
    overflow-x: auto;
    width: 100%;
    text-align: center;
}

.btn-primary {
    background-color: #ea580c;
    border-radius: 2px;
    border: solid 1px #ea580c;
    color: white;
}

#table-body th {
    text-align: center;
}