html, body {
    padding: 0;
    margin: 0;
    background-color: #fff7ed;
    font-family: "Noto Sans", sans-serif;
}

.app-container{
    max-width: 400px;
    margin: 10px auto;
}
.logo {
    margin-left: 10px;
}
.app-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.field-inputs {
    display: flex;
    gap: 5px;
}

.field-inputs * {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
}